@function imageUrl($image) {
  $url: $imagePath + '/' + $image;
  @return $url;
}

@mixin box($x, $y) {
  width: $x;
  height: $y;
}

@mixin verticalCenter() {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
